<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .a{
            background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpvp.qq.com%2Fweb201605%2Fherodetail%2F193.shtml&psig=AOvVaw2iSW8fFblwimTlRUIaQ_0Z&ust=1719576452190000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwiS1oXO3_uGAxVcmFYBHQMfAWQQjRx6BAgAEBM);
            background-color: aqua;
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="a">你好，我是index2</div>
</body>
</html>